<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <style>

                table {
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 20px;
                    border: 1px solid #ddd;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                table > thead > tr > th {
                    text-align:left;
                    border-bottom: 1px solid #ddd;
                    border-bottom-width: 2px;
                    padding: 8px;
                }

                table > tbody > tr > td {
                    border-bottom: 1px solid #ddd;
                    padding: 8px;
                }

                table > tbody > tr:nth-of-type(2n+1) {
                    background-color: #f9f9f9;
                }

                label {
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }

                select option:first-child{
                    color: #999;
                    opacity: 1;
                }

                select, input {
                    width:100%;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    margin-bottom: 15px;
                }

                select {
                    height: 35px;
                }

                input {
                    height: 32px;
                }

                button[type=submit]
                {
                    padding: 6px 12px;
                    font-size: 14px;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-bottom: 1em;
                }

            </style>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
