{% extends 'base.html.twig' %}

{% block title %}Gestion des chantiers{% endblock %}

{% block body %}
<style>

</style>

    <h1>Modifier un chantier</h1>

{{ form(formChantier) }}



{% endblock %}
