{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        #chantiers_form_debut select {
            max-width:10%;
        }

    </style>
{% endblock %}

{% block title %}Gestion des chantiers{% endblock %}

{% block body %}
<style>

</style>

    <h1>Modifier un chantier</h1>

{{ form(formChantier) }}



{% endblock %}
