{% extends 'base.html.twig' %}

{% block title %}Acueil{% endblock %}

{% block body %}

    <h1>Bonjour !</h1>


    <h2> Choisissez une action : </h2>
    <h3>
        <ul>
            <li><a href="{{ path('users') }}">Gérer les utilisateurs</a></li>
            <li><a href="{{ path('chantiers') }}">Gérer les chantiers</a></li>
            <li><a href="{{ path('pointages') }}">Gérer les pointages</a></li>
        </ul>
    </h3>

{% endblock %}
