{% extends 'base.html.twig' %}

{% block title %}Gestion des pointages{% endblock %}

{% block body %}
<style>

</style>

    <h1>Modifier un pointage</h1>

{{ form(formPointage) }}



{% endblock %}
