{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        #pointages_form_datePointage select, #pointages_form_dureePointage select {
            max-width:10%;
        }

    </style>
{% endblock %}

{% block title %}Gestion des pointages{% endblock %}

{% block body %}
<style>

</style>

    <h1>Modifier un pointage</h1>

{{ form(formPointage) }}



{% endblock %}
